<app-page-title title={{Title}} [pageTitle]="pageTite"></app-page-title>
<div class="card">
  
    <div class="card-body table-responsive">
      
        <h4 class="m-t-0 header-title mb-4"><b>Danh sách lô hàng</b></h4>
        <div style="display: flex; align-content: space-between ;">
          <div style="display: flex; column-gap: 10px;flex: 1; ">
            <label class="col-form-label">Hiển thị</label>
            <div style="width: 70px;">
              <select class="form-control" (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <label class="col-form-label">phần tử</label>
          </div>
        </div> 
      <ag-grid-angular
        style="width: 100%; height: 600px;"
        class="ag-theme-alpine mt-1"  
        [rowData]="dataRow"
        [defaultColDef]="defaultColDef"
        [columnDefs]="columnDefs"
        [alwaysShowHorizontalScroll]="true"
        [alwaysShowVerticalScroll]="true"
        [gridOptions]="gridOptions"
        [paginationPageSize]="sizePagination"
      > 
      </ag-grid-angular>
    </div>
  </div>