@import '~quill/dist/quill.bubble.css'; 
@import '~quill/dist/quill.snow.css';
/* You can add global styles to this file, and also import other style files */
.feedback{
    padding-top: 5px;
    color: red;
}
.ql-container {
    height: 300px !important;
}
body{
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;
}
/* width */
body::-webkit-scrollbar {
    width: 5px;
}
/* Track */
body::-webkit-scrollbar-track {
    border-radius: 10px;
    overflow: hidden;
}
/* Handle */
body::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #162339;
}
.select2-container .select2-selection--single{
    height: calc(1.5em + 0.9rem + 2px) !important;
}
.select2-container--default .select2-selection--single{
    border-radius: 0.2rem !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color:  #3bc0c3 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 35px !important;
}
/* Border Color */
.ng-select.ng-invalid.ng-touched .ng-select-container{
    border-color: red;
}
/* Arrow Color */
.ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow{
    border-color: red transparent transparent
}
/* Placeholder Color */
.ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder{
    color: red;
}
.specialInput{
    opacity: 0;
    height:0;
    padding: 0 !important;
    border: 0 !important;
}
.specialFormGroup{
    margin-bottom: 0 !important;
}
.modal-backdrop{
    z-index: 1040 !important;
}
.btn-sm-custom {
    padding: 0.2rem 0.3rem !important;
    font-size: .8rem !important;
    line-height: 1rem !important;   
    border-radius: 0.2rem !important;
}
.loader {
    position: absolute;
    top: calc((100% - 70px)/2);
    left:  calc((100% - 70px)/2);
    --b: 9px;  /* border thickness */
    --n: 10;    /* number of dashes*/
    --g: 10deg; /* gap  between dashes*/
    --c: #a1a1a1;   /* the color */
    
    width:70px; /* size */
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px; /* get rid of bad outlines */
    background: conic-gradient(#0000,var(--c)) content-box;
    --_m: /* we use +/-1deg between colors to avoid jagged edges */
      repeating-conic-gradient(#0000 0deg,
         #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
         #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
      radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: load 1s infinite steps(var(--n));
  }
  @keyframes load {to{transform: rotate(1turn)}}
  .containerLoader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background-color: rgba(236, 236, 236, 0.1);
  }
.icon-refresh{
    cursor: pointer;
}
.modal-xl .modal-lg .modal-content{
    width: 750px;
}
.modal-lg .modal-content{
    width: 1000px;
}
@media (min-width: 576px){
    .modal-xl .modal-lg{
        max-width: 750px !important;
        margin: 1.75rem auto !important;
    }
    .modal-lg .modal-content{
        max-width: 1000px !important;
        margin: 1.75rem auto !important;
    }
}
@media (min-width: 1200px){
    .modal-xl {
        max-width: 1000px !important;
    }
}
@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 900px !important;
    }
}

.ag-theme-alpine {
    --ag-header-background-color: rgb(244, 244, 244);
}