<app-page-title title={{Title}} [pageTitle]="pageTite"></app-page-title>
<div class="row">
  <div class="col-lg-6">
    <div class="specialFormGroup inputOrderDetail" style="width: 100%;">
      <span style="padding-right: 5px;font-size: 16px;color:#3bc0c3" class="btnAdd">
        <i class="icon-refresh" style="font-weight: 500;"></i>
      </span>
      <label for="categoryMaterial">Kho hàng<span class="text-danger">*</span></label>
      <div>
        <ng-select2 aria-required="true" (valueChanged)="onChangeWarehouse($event)" [data]="warehouseList"></ng-select2>
        <input type="text" class="specialInput" id="categoryMaterialId">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body table-responsive">
        <h4 class="m-t-0 header-title mb-4"><b>Danh sách khu vực kho<span
              style="padding-right: 5px;font-size: 16px;color:#3bc0c3" class="btnAdd">
              <i class="icon-refresh" style="font-weight: 500;"></i>
            </span> </b></h4>
        <div style="display: flex; align-content: space-between ;">
          <div style="display: flex; column-gap: 10px;flex: 1; ">
            <label class="col-form-label">Hiển thị</label>
            <div style="width: 70px;">
              <select class="form-control" (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <label class="col-form-label">phần tử</label>
          </div>
          <div>
            <button *ngIf="showButtonAddWarehouseArea" (click)="openModalAddWarehouseArea()"
              class="btn btn-primary waves-effect waves-light mr-1">
              <span style="padding-right: 5px;font-size: 16px;" class="btnAdd"><i class="fa fa-plus-circle"></i></span>
              Thêm khu vực
            </button>
          </div>

        </div>
        <ag-grid-angular style="width: 100%; height: 550px;" class="ag-theme-alpine mt-1" [rowData]="dataWarehouseArea"
          [defaultColDef]="defaultCol" [columnDefs]="columnDefsWarehouseArea" [alwaysShowHorizontalScroll]="true"
          [alwaysShowVerticalScroll]="true" [gridOptions]="gridOptions"
          [paginationPageSize]="sizePaginationWarehouseArea" (cellClicked)="warehouseAreaClicked($event)"
          [rowSelection]="rowSelectionWarehouseArea">
        </ag-grid-angular>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body table-responsive">
        <h4 class="m-t-0 header-title mb-4"><b>Danh sách dãy theo từng khu vực<span
              style="padding-right: 5px;font-size: 16px;color:#3bc0c3" class="btnAdd">
              <i class="icon-refresh" style="font-weight: 500;"></i>
            </span> </b></h4>
        <div style="display: flex; align-content: space-between ;">
          <div style="display: flex; column-gap: 10px;flex: 1; ">
            <label class="col-form-label">Hiển thị</label>
            <div style="width: 70px;">
              <select class="form-control" (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <label class="col-form-label">phần tử</label>
          </div>
          <div>
            <button (click)="openModalAddWarehouseLine()" *ngIf="showButtonAddWarehouseLine"
              class="btn btn-primary waves-effect waves-light mr-1">
              <span style="padding-right: 5px;font-size: 16px;" class="btnAdd"><i class="fa fa-plus-circle"></i></span>
              Thêm dãy
            </button>
          </div>
        </div>
        <ag-grid-angular style="width: 100%; height: 550px;" class="ag-theme-alpine mt-1" [rowData]="dataWarehouseLine"
          [defaultColDef]="defaultCol" [columnDefs]="columnDefsWarehouseLine" [alwaysShowHorizontalScroll]="true"
          [alwaysShowVerticalScroll]="true" [gridOptions]="gridOptions"
          [paginationPageSize]="sizePaginationWarehouseLine" [rowSelection]="rowSelectionWarehouseLine">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body table-responsive">
        <h4 class="m-t-0 header-title mb-4"><b>Danh sách kệ hàng theo từng dãy hàng<span
              style="padding-right: 5px;font-size: 16px;color:#3bc0c3" class="btnAdd">
              <i class="icon-refresh" style="font-weight: 500;"></i>
            </span> </b></h4>
        <div style="display: flex; align-content: space-between ;">
          <div style="display: flex; column-gap: 10px;flex: 1; ">
            <label class="col-form-label">Hiển thị</label>
            <div style="width: 70px;">
              <select class="form-control" (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <label class="col-form-label">phần tử</label>
          </div>
          <div>
            <button (click)="openModalAddWarehouseLine()" *ngIf="showButtonAddWarehouseLine"
              class="btn btn-primary waves-effect waves-light mr-1">
              <span style="padding-right: 5px;font-size: 16px;" class="btnAdd"><i class="fa fa-plus-circle"></i></span>
              Thêm kệ hàng
            </button>
          </div>
        </div>
        <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine mt-1" [rowData]="dataWarehouseLine"
          [defaultColDef]="defaultCol" [columnDefs]="columnDefsWarehouseShelve" [alwaysShowHorizontalScroll]="true"
          [alwaysShowVerticalScroll]="true" [gridOptions]="gridOptions"
          [paginationPageSize]="sizePaginationWarehouseLine" [rowSelection]="rowSelectionWarehouseLine">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadData" class="containerLoader">
  <div class="loader"></div>
</div>