<div class="modal-header">
    <h4 class="modal-title">Thêm mới khu vực</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>
<form [formGroup]="addWarehouseAreaForm" (ngSubmit)="addWarehouseArea()">
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Tên khu vực<span class="text-danger">*</span></label>
            <input type="text" name="nick" parsley-trigger="change" class="form-control" formControlName="name" id="name">
            <div class="feedback" *ngIf="name?.errors?.['required'] && (name?.dirty)">Tên khu vực kho hàng không được để trống</div>
        </div>
        <div class="form-group">
            <label for="warehouse">Kho hàng<span class="text-danger">*</span></label>
            <input type="text" readonly value="{{warehouseData.text}}" class="form-control"  id="warehouse">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!addWarehouseAreaForm.valid || submitData" class="btn btn-primary btn-sm waves-effect waves-light mr-1">
            Lưu dữ liệu <span class="" [ngClass]="submitData ? 'spinner-border spinner-border-sm' : ''"></span>
        </button>
        <button type="reset" class="btn btn-secondary btn-sm waves-effect waves-light"
            (click)="activeModal.close('Close click')">
            Đóng
        </button>
    </div>
</form>