<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">{{Title}}</h4>
            <div class="page-title-right">
                <ol class="breadcrumb p-0 m-0">
                    <li *ngFor="let item of pageTitle" class="breadcrumb-item" [ngClass]=" item.active ? 'active': ''">
                        <a routerLink="{{item.path}}" style="font-size: 16px;">{{item.title}}</a>
                    </li>
                </ol>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
